[Desktop Entry]
Type=Application
Name=HyperX Open Lighting
Comment=Control HyperX keyboard and mouse lighting on Linux
Exec=hyperx-open-lighting
Icon=local.hyperx.RGB
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=HyperX;RGB;keyboard;mouse;lighting;
StartupWMClass=local.hyperx.RGB
